.burger_container {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.burger {
    height: 4px;
    width: 20px;
    background-color: black;
    margin: 5px;
}

.menu_burger {
    position: absolute;
    background-color: --clr-dark;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.menu_point li {
    list-style: none;
    padding: 2em 0;
    ;
}

.menu_point a {
    text-decoration: none;
    color: --clr-light;

}

.menu_point ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 5em;
    margin-right: 4em;
}